/* Text/formatting */
body {
    background-color: #FFFFFF;
  }
  
  header,
  h1 {
    text-align: center;
    color: #010101;
    font-family: 'Frank Ruhl Libre', serif;
  }
  
  h2 {
    text-align: center;
    color: #010101;
    font-family: 'Frank Ruhl Libre', serif;
  }
  
  h3 {
    text-align: center;
    color: #010101;
    font-family: 'Frank Ruhl Libre', serif;
  }
  
  h4 {
    text-align: center;
    color: #010101;
    font-family: 'Frank Ruhl Libre', serif;
  }
  
  li {
    font-size: 18px;
    font-family: 'Frank Ruhl Libre', serif;
  }
  
  form {
    font-size: 16px;
    font-family: 'Frank Ruhl Libre', serif;
  }
  
  input {
    font-size: 14px;
    font-family: 'Frank Ruhl Libre', serif;
  }

  button {
    /* position: relative; */
    font-size: 14px;
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #F36545;
    color:#FAF3F3;
    border: none;
    padding: 1rem 2rem;
    margin: 5px;
    /* justify-self: center; */
  }

  button:hover {
    background-color: #FAF3F3;
    color: #F36545;
  }

  img {
      height: 375px;
      width: 375px;
  }

  .topnav {
      background-color: #FAF3F3;
      overflow: hidden;
    }

  .topnav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
  }
  
  .topnav a:hover, .dropdown:hover .dropbtn {
    color: #F36545;
  }
  
  .topnav a.active {
    color: #F36545;
  }

  /* card display */

  .card {
    text-align: center;
    padding: 1rem;
    width: 23rem;
    height: 40rem;
    display: inline-grid;
    margin: 1rem 2rem;
  }

  .collection-card {
    text-align: center;
    padding: 1rem;
    width: 23 rem;
    height: 23 rem;
    display: inline-grid;
    margin: 1rem 2rem

  }

  .collection {
    text-align: center;

  }

  .edit-card {
    background-color: #EAE1DD;
    text-align: center;
    padding: 30px;

  }

  .edit-collection-card {
    text-align: center;
    padding: 30px;
    background-color: #F7F7F7;

  }

  .new-piece-card {
    text-align: center;
  }

  .new-collection-card {
    text-align: center;
  }


  /* Footer */
  .footer {
    position: relative;
    left: 0;
    bottom: 5px;
    top: 500px;
    width: 100%;
    height: 100px;
    background-color: #FAF3F3;
    text-align: center;
    font-family: 'Frank Ruhl Libre', serif;
    padding: 2rem;
    /* background: url(./images/Footer.jpg); */
    margin: auto;
  }

